        <!doctype html>
        <html lang="en">
          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Google Tag Manager -->
            {%block analytics %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129298184-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-129298184-1');
            </script>
            {% endblock %}
            <!-- End Google Tag Manager -->
                
            {% block cssBlock %}      
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            {% endblock %}      
        
            <header>
                    
            </header>
        
            <title>660 Project {% block title %}{% endblock %}</title>
            
            <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
                
            <!-- Adding title for about page-->
            <title>Team Celestial Night!!</title>
                
            </head>
        
          <body>
            <!-- Google Tag Manager (noscript) -->    
            {% block tagManager %}
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCPTQZR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            {% endblock %}
            <!-- End Google Tag Manager (noscript) -->
            
            <!-- Navegation Bar -->
            
            <div class=container>
                    
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand" href="https://som.yale.edu" target="_blank">
                    <img src="http://som.yale.edu/sites/all/themes/common_assets/img/yalesom_shield-alt.svg" width="30" height="30" alt="">
                  </a>                  
                                    
                  <a class="navbar-brand" href="https://www.660.mba" target="_blank">MGT660</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href='/about'>About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href='/events/new'>Create an event</a>
                      </li>
                    </ul>
                  </div>
            </nav>
            
            </div>
            
            <!-- End Navegation Bar -->
            
            

            {% block content %}{% endblock %}
        
        
            <footer class="footer tex-center">
            <div class="container">
            <span class="text-muted"> Produced by Celestial Night Team | Yale SOM 2019</span>
            </div>
            </footer>
                
          </body>
        </html>