<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    
     <!-- Adding title for about page-->
    <title>Team Celestial Night!!</title>

</head>

<body>
    
    <form action="/about" method="post">
     <!-- Adding team name and images -->

    <span><h3>adorable-magpie</h3></span>
    
    <img src="https://media.licdn.com/dms/image/C5603AQHZOYxhDdR4yw/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=NjziD7hyLRsd7BTrx7r0esQQ9i1DPizChpmgergSn4M" alt ="">
    
    <span id ="class-nickname-name"><h3>pleasant-jackal</h3></span>
    <img src="https://media.licdn.com/dms/image/C4E03AQHwwoWwBeHROw/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=xO0_SvLrG4NHJ0rxAo1RGF8bGEuecsXgDjSJ843eGMc" alt ="class-nickname-headshot" id ="class-nickname-headshot" ><br>

    <span id ="class-nickname-name"><h3>misty-falcon</h3></span>
    <img src="https://media.licdn.com/dms/image/C5603AQEFl6huMRmFCQ/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=RmerCP9Cid-GeGLIqdcV4fP9OafsX-Q6wrynF4p3w1E" id ="class-nickname-headshot"><br>
    
    <span id ="class-nickname-name"><h3>cloudy-gazelle</h3></span>
    <img src="https://media.licdn.com/dms/image/C4E03AQEZnmOeiyC4rw/profile-displayphoto-shrink_200_200/0?e=1547078400&v=beta&t=Vne6TAQU-92-fu3fNcpgZ99jNS3e1IVppRBAL9XFntg" alt ="class-nickname-headshot" id ="class-nickname-headshot"><br>
    
    </form>
    
</body>

</html>