{% extends "_layout.njk" %}

{% block header %}
<h1 id=title>{{ eventTitle }}</h1>
{% endblock %}

{% block body %}

{% block content %}

<ul class="form-errors">

{% for eventsError in eventsErrors %}
            <li>{{eventsError}}</li>
        {% endfor %}

</ul>

<h1 id=title> {{ eventTitle }} 
<div>
<span id ="location">  {{ eventLocation }}</span> 
</div>
<div>
<span id ="date"> {{eventDate}} </span> 
</div>
<div>
<span id ="image"><img src={{ eventImage }}><br></span>
</div>
</h1>
{% endblock %}
<div>

{% block contributions %}
  Want to contribute? <a href="/donate" id="donate">  {{ donateText }} </a>  Now!
{% endblock %}

</div>

{% for email in eventAttendees %}
 <li>{{email}}</li>
 {% endfor %}


<form action="/rsvp/{{ eventId }}" method="post">
    <input type="email" id="email" name="email" />
    <button type="submit" class="btn" name="submit">Submit</button>

</body>
{% endblock %}
