{% block header %}
<h1 id=title>{{ eventTitle }}</h1>
{% endblock %}
{% extends "_layout.njk" %}

{% block content %}

<head>
<script>
  dataLayer = [{
    'supportdisplay': '{{ donateText }}'
  }];
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KCPTQZR');</script>
<!-- End Google Tag Manager -->

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCPTQZR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<ul class="form-errors">

{% for eventsError in eventsErrors %}
            <li>{{eventsError}}</li>
        {% endfor %}

</ul>

<div>

{% block contributions %}
  Want to contribute? <a href="/donate" id="donate">  {{ donateText }} </a>  Now!
{% endblock %}

</div>

{% for email in eventAttendees %}
 <li>{{email}}</li>
 {% endfor %}


{% block body %}
<form action="/rsvp/{{ eventId }}" method="post">
    <input type="email" id="email" name="email" />
    <button type="submit" class="btn" name="submit">Submit</button>
{% endblock %}

</body>
{% endblock %}