{% extends "_layout.njk" %}

{% block header %}
<h1 id=title>{{ eventTitle }}</h1>
{% endblock %}

{% block dataLayer %}
<script>
  dataLayer = [{
    'supportdisplay': '{{ donateText }}'
  }];
</script>
{% endblock %}

{% block content %}

<ul class="form-errors">

{% for eventsError in eventsErrors %}
            <li>{{eventsError}}</li>
        {% endfor %}

</ul>

<h1 id=title> {{ eventTitle }} 
<div>
<span id ="location">  {{ eventLocation }}</span> 
</div>
<div>
<span id ="date"> {{eventDate}} </span> 
</div>
<div>
<span id ="image"><img src={{ eventImage }}><br></span>
</div>
</h1>
<div>

{% block contributions %}
  Want to contribute? <a href="/donate" id="donate">  {{ donateText }} </a>  Now!
{% endblock %}

</div>

<ul class="list-group" id="attendees">
{% for email in eventAttendees %}
 <li></li>
 <li class="list-group-item">{{email}}</li>
 {% endfor %}
</ul>

  


<form action="/rsvp/{{ eventId }}" method="post">
    <input type="email" id="email" name="email" />
    <button type="submit" class="btn" name="submit">Submit</button>

{% endblock %}
