    {% extends "_layout.njk" %}

    {% block content %}
    <main>
        
    <!-- Jumbotron -->
            
            <div class=container>
            <div class="jumbotron">
                  <h1 class="display-4">Welcome to our appalling clone of Eventbrite!</h1>
                  <p class="lead">This is our project for MGT660 class project prepared for our sensei Kyle Jensen</p>
                  <hr class="my-4">
                  <p>We totally encourage you to take this class! click the button if you are interested ;)</p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://github.com/yale-mgt-656-fall-2018/about" role="button">Click me!</a>
                  </p>
            </div>
            </div>
            
            <!-- End Jumbotron -->    
    <div class=container>
    <p>
        Come! and join to one of our WONDERFUL events: 
    </p>
    
    <div>
        <ul>
        {% for event in events %}
            <li class="event" id ="event-" time><a id= "title" href="/events/{{event.id}}">{{event.title}}</a><br>
           <time>{{event.date}}</time></li>
        {% endfor %}
        </ul>
  
    </div> <br>
    
    </div>
    
   </main>


    {% endblock %} 

