<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<!-- Google Tag Manager -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129298184-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129298184-1');
</script>
<!-- End Google Tag Manager -->

</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCPTQZR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <header>
    <img id="logo" src="http://som.yale.edu/sites/all/themes/common_assets/img/yalesom_shield-alt.svg" height="120" alt="logo" />
  </header>

  <main>

    <title>Eventbrite Poor Clone by celestial-night .. more events comming soon </title>

    <h1>MGT 660 celestial-night first version using a Database!!!</h1>

    <p>
        Testing the enviroment v3. Group: celestial-night. List of all the events in New Haven: 
    </p>
    <div>
        {% for way in waysOfBeingAwesome %}
            <li>{{way}}</li>
        {% endfor %}
    </div>
  <a href='/events/new' id='new'>Create an event</a>
  </main>
  <footer>
    <a href='/about'>About</a>
    <a href='/'>Home</a>
  </footer>



</body>

</html>