{% extends "_layout.njk" %}

{% block content %}


  <main>

    <title>Event: Eventbrite Poor Clone by celestial-night .. more events comming soon </title>

    <h1>MGT 660 celestial-night first version using a Database!!!</h1>

    <p>
        Testing the enviroment v3. Group: celestial-night. List of all the events in New Haven: 
    </p>
    <div>
        <ul>
        {% for event in events %}
            <li  class= "event"><a href="/events/{{event.id}}">{{event.title}}</a><br>
           <time>{{event.date}}</time></li>
        {% endfor %}
        </ul>
  
    </div> <br>
  <a href='/events/new' id='new'>Create an event</a>
  </main>
  <footer>
    <a href='/about'>About</a>
    <a href='/'>Home</a>
  </footer>

{% endblock %} 
